<div class="burger-menu__wrapper" id="{{ wrapperId }}">
    <div class="burger-menu__content">
        <div class="burger-menu__content-wrapper">
            <div class="burger-menu__row burger-menu__row_1">
                {% for link in topLinks %}
                    <a class="burger-menu__link" id="{{ link.id }}" onclick="{{ link.clickHandler }}(event)">{{ link.label }}</a>
                {% endfor %}
            </div>
            <div class="burger-menu__row burger-menu__row_2">
                {% for link in bottomLinks %}
                    <a class="burger-menu__link" id="{{ link.id }}" onclick="{{ link.clickHandler }}(event)">{{ link.label }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <span class="burger-menu__close-icon icon" onclick="{{ burgerCloseBtnHandlerName }}(event)">
        <svg viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="34.257" y="35.6272" width="48.4467" height="1.93787" transform="rotate(-135 34.257 35.6272)" fill="#D9D9D9"></rect>
            <rect x="0.372803" y="34.6296" width="48.4467" height="1.93787" transform="rotate(-45 0.372803 34.6296)" fill="#D9D9D9"></rect>
        </svg>
    </span>
</div>